.details-form{
  width: 300px;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 43px -8px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 0px 43px -8px rgba(0,0,0,0.36);
  box-shadow: 0px 0px 43px -8px rgba(0,0,0,0.36);
  border-radius: 10px;
}

form{
  width: 100%;
}

.details-logo{
  width: 70px;
}

mat-form-field{
  width: 100%;
}

.error{
  height: 12px;
  margin-top: -10px;
  margin-bottom: 15px;
  color: red;
  font-size: 12px;
}

mat-spinner{
  top: 46%;
  left: 44%;
  position: fixed;
}

button:hover{
  background-color: black;
  color: white;
}

.disable{
  cursor: not-allowed;
}

.disable:hover{
  background-color: lightgray!important;
}

.details-text{
  font-weight: 400;
}


.details-prechoice{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
