.result-section{
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.result-article{
  position: relative;
  width: 600px;
  height: 400px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
  background-color: white;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 43px -8px rgba(0, 0, 0, 0.36);
  border-radius: 10px;
}


.details-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img{
  border-radius:10px;
}

.close{
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  
}

.article-heading{
  border-bottom: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.material-icons{
  font-size: 40px;
}


h2{
  display: flex;
  align-items: center;
}


h3{
  padding-left: 25px;
  padding-bottom: 9px;
  line-height: 30px;
  font-weight: 400;
  margin: 0px;
}